* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
}

#root,
nav {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav,
footer {
  grid-column: 1 / 4;
  background-color: hsl(0deg, 0%, 90%);
}

main,
.navbar {
  grid-column: 2;
}

.cartButton {
  position: relative;
  height: 36px;
  width: 36px;
  background-image: url("./assets/shopping-cart.svg");
  background-size: 100% 100%;
  background-color: inherit;
}

.tooltip {
  background-color: blue;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: 700;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
